<h2>Tạo mới người hiến máu</h2>
<div class="d-flex justify-content-center">
  <form nz-form [formGroup]="validateForm" style="width: 50%;">
    <nz-form-item>
      <nz-form-label [nzSm]="4">Đợt tôn vinh</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select formControlName="dottonvinhid">
            <nz-option *ngFor="let item of dottonvinhs"
            [nzLabel]="item.tenDotTonVinh"
            [nzValue]="item.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4">Đơn vị</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select formControlName="donviid">
            <nz-option *ngFor="let item of donvis"
            [nzLabel]="item.tenDonVi"
            [nzValue]="item.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4">Họ và tên</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Hãy nhập họ tên!">
        <nz-input-group>
          <input formControlName="hoten" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4">Giới tính</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-select formControlName="gioitinh">
            <nz-option [nzValue]="true" nzLabel="Nam"></nz-option>
            <nz-option [nzValue]="false" nzLabel="Nữ"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4">Năm sinh</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Hãy nhập năm sinh!">
        <nz-input-group>
          <input formControlName="namsinh" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4">Nghề nghiệp</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-input-group>
          <input formControlName="nghenghiep" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4">Địa chỉ</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-input-group>
          <input formControlName="diachi" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4">Nhóm máu</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Hãy nhập nhóm máu!">
        <nz-input-group>
          <input formControlName="nhommau" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="submitForm()"(loadDataEmit)="loadData()">Thêm mới</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>


