
  <nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Nhập dữ liệu" nzIcon="import"></nz-step>
    <nz-step nzTitle="Kiểm tra dữ liệu" nzIcon="deployment-unit"></nz-step>
    <nz-step nzTitle="Hoàn thành" [nzIcon]="iconTemplate"></nz-step>
    <ng-template #iconTemplate><i nz-icon nzType="smile"></i></ng-template>
  </nz-steps>
  <br>
  <div class="steps-content" *ngIf="current < 1"  >
    <form nz-form [formGroup]="validateForm" >
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Đợt thêm người hiến máu</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select formControlName="dottonvinhid">
            <nz-option *ngFor="let item of dottonvinhs"
            [nzLabel]="item.tenDotTonVinh"
            [nzValue]="item.id"></nz-option>
        </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Đơn vị</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select formControlName="donviid">
            <nz-option *ngFor="let item of donvis"
            [nzLabel]="item.tenDonVi"
            [nzValue]="item.id"></nz-option>
        </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Danh sách excel</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <p-fileUpload (onSelect)="onSelect($event)" [showUploadButton]="false" [showCancelButton]="false" chooseLabel="Chọn file"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <ng-template pTemplate="toolbar">
                <span *ngIf="datafile.length">
                  <div *ngFor="let file of datafile">
                    <div class="d-flex justify-content-between align-items-center w-100">
                      <div class="file-name">{{file.name}}</div>
                      <div class="btn-deleteFile" (click)="deleteFile(file)">X</div>
                    </div>
                  </div>
                </span>
            </ng-template>
            <ng-template let-file pTemplate="file"></ng-template>
          </p-fileUpload>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="submit-btn ant-form-item ant-row">
        <div class="steps-action">
          <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">Quay lại</button>
          <button nz-button nzType="primary" (click)="next()" *ngIf="current < 2" [disabled]="!validateForm.valid || datafile.length == 0" (click)="submitForm()"(loadDataEmit)="loadData()">Tiếp tục</button>
          <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">Hoàn thành</button>
        </div>

      </nz-form-item>
    </form>
  </div>


  <div class="steps-content" *ngIf="current === 1" >
    <nz-table #basicTable [nzData]="listNguoihienmauimport">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ và Tên</th>
          <th>Giới tính</th>
          <th>Năm sinh</th>
          <th>Nghề nghiệp</th>
          <th>Địa chỉ</th>
          <th>Nhóm máu</th>
          <th>Lưu ý</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data; index as i;" >
          <td class="col-sm-1" >{{i+1}}</td>
          <td class="col-sm-2">{{item.hoTen}}</td>
          <td class="col-sm-1">{{showGender(item.gioiTinh)}}</td>
          <td class="col-sm-1">{{item.namSinh}}</td>
          <td class="col-sm-2">{{item.ngheNghiep}}</td>
          <td class="col-sm-2">{{item.diaChi}}</td>
          <td class="col-sm-1">{{item.nhomMau}}</td>
          <td class="col-sm-2">{{item.note}}</td>
        </tr>
      </tbody>
    </nz-table>
    <div class="steps-action mr-2">
      <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">Quay lại</button>
      <button nz-button nzType="primary" (click)="next()" *ngIf="current < 2">Tiếp tục</button>
    </div>
  </div>

  <div class="steps-content" *ngIf="current === 2" >
    <h3>Số người đã được thêm mới:{{listNguoihienmauimport.length}}</h3>
    <div class="steps-action">
      <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">Hoàn thành</button>
    </div>
  </div>


