.p-fileupload .p-fileupload-content{
  padding: 0;
}
.p-fileupload .p-fileupload-buttonbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  gap: 15px;
  .p-ripple.p-element.p-button.p-component.p-fileupload-choose{
    padding: 7px 10px;
    border-radius: 2px;
    font-size: 14px;
  }
  .file-name{
    max-width: 440px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .btn-deleteFile{
    border-radius: 2px;
    margin-left: 20px;
    font-weight: bold;
    padding: 5px 10px;
    background: red;
    color: #fff;
    cursor: pointer;
    :hover{
      background-color: rgb(195, 11, 11);
    }
  }
}

