<form nz-form [formGroup]="validateForm" class="form" >
  <nz-form-item>
    <nz-form-label>Tìm kiếm</nz-form-label>
    <nz-form-control [nzSm]="4">
      <input nz-input formControlName="filter"/>
    </nz-form-control>
    <nz-form-label [nzSm]="2">Giới tính</nz-form-label>
    <nz-form-control [nzSm]="4">
      <nz-select formControlName="gioitinh">
        <nz-option [nzValue]="true" nzLabel="Nam"></nz-option>
        <nz-option [nzValue]="false" nzLabel="Nữ"></nz-option>
    </nz-select>
    </nz-form-control>
    <nz-form-label [nzSm]="2">Năm sinh</nz-form-label>
    <nz-form-control [nzSm]="4">
      <input nz-input autocomplete="off"
        class="form-control" name="date" formControlName="namsinh"
        bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY'}" (onShown)="onOpenCalendar($event)">
    </nz-form-control>
    <nz-form-control [nzSm]="4">
      <button nz-button nzType="primary" class="mx-2" (click)="search($event)" (loadDataEmit)="loadData()">Tìm kiếm</button>
    </nz-form-control>
  </nz-form-item>
</form>
