<nz-spin [nzSpinning]="isSpinning" nzTip="Đang khởi động">
  <div class="formLogin">
    <div class="header-login">
        <div class="title-header">
            <span>
                <img src="../../../assets/images/logo.png" width="35px" height="35px" />
                <span class="ml-2"> ĐỒ ÁN CÔNG NGHỆ PHẦN MỀM 2 </span>
            </span>
            <span>KHOA CÔNG NGHỆ THÔNG TIN</span>
        </div>
    </div>
    <div class="container-form">
        <div class="div-img">
            <img class="image-logo" src="../../../assets/images/logo.png"/>
        </div>
        <div class="login-form">
            <h3 class="title">Đăng nhập</h3>
            <p class="sub-title">Vui lòng nhập tài khoản và mật khẩu để sử dụng hệ thống</p>
            <div class="form-login">
                <input class="form-control form-control-md mb-3" (keyup.enter)="login()" placeholder="Tài khoản" autocomplete="off" [(ngModel)]="modelLogin.username">
                <input class="form-control form-control-md mb-3" (keyup.enter)="login()" type="password" placeholder="Mật khẩu" autocomplete="off" [(ngModel)]="modelLogin.password">
                <p class="messError">{{errorMessage}}</p>
                <button class="btn-block mb-5 font-weight-bold btn btn-secondary btn-login" (click)="login()">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span class="ml-2">Đăng nhập</span>
                </button>
                <hr class="hr-custom"/>
                <p class="text-center mt-4"><b>TÔN VINH HIẾN MÁU</b></p>
            </div>
        </div>
        <!-- <div class="footer-login">
            <h6 class="mb-0">Copyright © 2022 CP Tin học Trí Thức, All rights reserved.</h6>
        </div> -->
    </div>
  </div>
</nz-spin>

