<nz-spin [nzSpinning]="isSpinning">
  <div class="row">
    <div class="col-sm">
      <h3>Tạo đơn vị</h3>
      <div class="inner-content">
        <app-don-vi-create (loadDataEmit)="loadDonvi()"></app-don-vi-create>
      </div>
    </div>
    <div class="col-sm-8">
      <h3>Danh sách đơn vị</h3>
      <div class="inner-content">
        <app-don-vi-list (loadDataEmit)="loadDonvi()" [listDonvi]="donvilist"></app-don-vi-list>
      </div>
    </div>
  </div>
</nz-spin>
<p-toast position="bottom-right"></p-toast>
