<nz-table #basicTable [nzData]="listDonvi">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên đơn vị</th>
      <th>Mã đơn vị</th>
      <th>Địa chỉ</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data; index as i">
      <td class="col-sm-1">{{i+1}}</td>
      <td class="col-sm-2">{{item.tenDonVi}}</td>
      <td class="col-sm-2">{{item.maDonVi}}</td>
      <td class="col-sm-2">{{item.diachi}}</td>
      <td class="col-sm-2">
        <button pButton pRipple icon="pi pi-bookmark" (click)="showModal(item)"></button>
        <button pButton pRipple icon="pi pi-trash" (click)="deleteDV(item)"></button>
      </td>
    </tr>
  </tbody>
</nz-table>
<p-dialog header="Header" [(visible)]="isVisible" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <app-don-vi-edit (loadDataEmit)="loadDottonvinh()" [donvi]="dv" ></app-don-vi-edit>
  </p-dialog>
