<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Tên đợt tôn vinh</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-input-group>
        <input formControlName="tendottonvinh" nz-input [placeholder]="dottonvinh.name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Mã đợt tôn vinh</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-input-group>
        <input formControlName="madottonvinh" nz-input [placeholder]="dottonvinh.code"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="20">
      <button nz-button nzType="primary" (click)="submitForm()"(loadDataEmit)="loadDonvi()">Sửa</button>
    </nz-form-control>
  </nz-form-item>
</form>

