<nz-layout class="layout nz-demo-layout-fixed">
  <nz-header>
    <div class="banner-wrapper"><img _ngcontent-apu-c70 class="image" src="../../../assets/images/banner.png" alt=""></div>
    <ul nz-menu [nzMode]="'horizontal'">
      <li nz-submenu nzTitle="Quản lý tôn vinh" nzIcon="mail">
        <ul>
          <li nz-menu-group nzTitle="Tạo đợt tôn vinh"></li>
          <li nz-menu-group nzTitle="Đề xuất cá nhân"></li>
          <li nz-menu-group nzTitle="Đề xuất hộ gia đình"></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quản lý người hiến máu" nzIcon="mail">
        <ul>
          <li nz-menu-group nzTitle="Thêm người hiến máu"></li>
          <li nz-menu-group nzTitle="Danh sách người hiến máu"></li>
          <li nz-menu-group nzTitle="Nhập dữ liệu người hiến máu"></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Đơn vị hiến máu" nzIcon="mail"></li>
      <li nz-submenu nzTitle="Lịch sử tôn vinh" nzIcon="mail"></li>
      <li nz-submenu nzTitle="Đăng xuất" nzIcon="mail"></li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
    <br/>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">Content</div>
  </nz-content>
  <nz-footer>Copyright@2021 - Hội chữ thập đỏ Tỉnh Bình Định</nz-footer>
</nz-layout>
